extends ../../layouts/default.pug

block main
  //- Block main trong trang chi tiết sản phẩm
  .container.py-4
    .row
      //- Phần hình ảnh sản phẩm
      .col-lg-6.mb-4
        .card.border-0.shadow-sm
          img.card-img-top.img-fluid#main-product-image(src=product.thumbnail, alt=product.title)
        .row.mt-3
          .col-3
            img.img-thumbnail.product-thumbnail(src=product.thumbnail, alt=product.title, onclick="changeImage(this.src)")
          .col-3
            img.img-thumbnail.product-thumbnail(src="/api/placeholder/400/400", alt="Ảnh khác", onclick="changeImage(this.src)")
          .col-3
            img.img-thumbnail.product-thumbnail(src="/api/placeholder/400/400", alt="Ảnh khác", onclick="changeImage(this.src)")
          .col-3
            img.img-thumbnail.product-thumbnail(src="/api/placeholder/400/400", alt="Ảnh khác", onclick="changeImage(this.src)")

      //- Phần thông tin sản phẩm
      .col-lg-6
        h1.product-title.mb-3= product.title
        .d-flex.align-items-center.mb-3
          span.badge.badge-primary.mr-2= product.brand
          .ratings
            i.fas.fa-star.text-warning
            i.fas.fa-star.text-warning
            i.fas.fa-star.text-warning
            i.fas.fa-star.text-warning
            i.fas.fa-star-half-alt.text-warning
            span.ml-2 (120 đánh giá)
        
        //- Giá sản phẩm
        .product-price.mb-3
          if product.discountPercentage
            .d-flex.align-items-center
              h3.text-danger.mb-0= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price * (1 - product.discountPercentage/100))
              span.text-muted.ml-2
                del= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price)
              span.badge.badge-danger.ml-2= `-${product.discountPercentage}%`
          else
            h3.mb-0= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price)
        
        //- Tình trạng
        .product-stock.mb-3
          if product.stock > 0
            p.text-success.mb-1
              i.fas.fa-check-circle.mr-1
              | Còn hàng (#{product.stock} sản phẩm)
          else
            p.text-danger.mb-1
              i.fas.fa-times-circle.mr-1
              | Hết hàng
        
        //- Tính năng nổi bật
        .product-features.mb-3
          h5 Tính năng nổi bật:
          ul.list-group.list-group-flush
            each feature in product.features
              li.list-group-item.pl-0
                i.fas.fa-check.text-success.mr-2
                = feature
        
        //- Bảo hành
        .product-warranty.mb-4
          h5 Bảo hành:
          p= product.warranty
        
        //- Mua hàng
        .product-actions
          .form-group
            label(for="quantity") Số lượng:
            .input-group.w-25
              .input-group-prepend
                button.btn.btn-outline-secondary(type="button", onclick="decreaseQuantity()") -
              input#quantity.form-control.text-center(type="number", value="1", min="1", max=product.stock)
              .input-group-append
                button.btn.btn-outline-secondary(type="button", onclick="increaseQuantity()") +
          
          .btn-group.mt-3
            button.btn.btn-primary.btn-lg
              i.fas.fa-shopping-cart.mr-2
              | Thêm vào giỏ hàng
            button.btn.btn-danger.btn-lg.ml-2
              i.fas.fa-bolt.mr-2
              | Mua ngay
    
    //- Mô tả sản phẩm
    .row.mt-5
      .col-12
        ul.nav.nav-tabs#productTabs(role="tablist")
          li.nav-item
            a.nav-link.active#description-tab(data-toggle="tab", href="#description", role="tab") Mô tả sản phẩm
          li.nav-item
            a.nav-link#specification-tab(data-toggle="tab", href="#specification", role="tab") Thông số kỹ thuật
          li.nav-item
            a.nav-link#reviews-tab(data-toggle="tab", href="#reviews", role="tab") Đánh giá (120)
        
        .tab-content.pt-4
          .tab-pane.fade.show.active#description(role="tabpanel")
            .card.border-0
              .card-body
                != product.description
          
          .tab-pane.fade#specification(role="tabpanel")
            .card.border-0
              .card-body
                table.table.table-striped
                  tbody
                    tr
                      th(scope="row") Thương hiệu
                      td= product.brand
                    tr
                      th(scope="row") Bảo hành
                      td= product.warranty
                    tr
                      th(scope="row") Tình trạng
                      td= product.stock > 0 ? "Còn hàng" : "Hết hàng"
                    tr
                      th(scope="row") SKU
                      td= product.slug
          
          .tab-pane.fade#reviews(role="tabpanel")
            .card.border-0
              .card-body
                .d-flex.justify-content-between.align-items-center.mb-4
                  h4 Đánh giá từ khách hàng
                  button.btn.btn-outline-primary Viết đánh giá
                
                .review-item.mb-4.pb-4.border-bottom
                  .d-flex.align-items-center.mb-2
                    img.rounded-circle.mr-3(src="/api/placeholder/50/50", alt="Avatar")
                    .review-info
                      h5.mb-0 Nguyễn Văn A
                      .ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                      small.text-muted 2 ngày trước
                  p.mt-2 Sản phẩm rất tốt, đúng như mô tả. Giao hàng nhanh, đóng gói cẩn thận. Rất hài lòng với chất lượng sản phẩm và dịch vụ.
                
                .review-item.mb-4.pb-4.border-bottom
                  .d-flex.align-items-center.mb-2
                    img.rounded-circle.mr-3(src="/api/placeholder/50/50", alt="Avatar")
                    .review-info
                      h5.mb-0 Trần Thị B
                      .ratings
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.far.fa-star.text-warning
                      small.text-muted 1 tuần trước
                  p.mt-2 Sản phẩm tốt, nhưng giao hàng hơi chậm. Nhìn chung vẫn hài lòng về chất lượng sản phẩm.

  script.
    function changeImage(src) {
      document.getElementById('main-product-image').src = src;
    }
    
    function increaseQuantity() {
      const quantityInput = document.getElementById('quantity');
      const currentValue = parseInt(quantityInput.value);
      const maxValue = parseInt(quantityInput.max);
      if (currentValue < maxValue) {
        quantityInput.value = currentValue + 1;
      }
    }
    
    function decreaseQuantity() {
      const quantityInput = document.getElementById('quantity');
      const currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
      }
    }
  